<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QCP-Omics report</title>
</head>
<body>
    <h1>QCP-Omics Report</h1>
    {% for step in steps %}
    <h2>{{ step.step }}</h2>
    <p>{{ step.info }}</p>
    <table>
        <tr>
            {% for col in step.data.columns %}
            <th>{{ col }}</th>
            {% endfor %}
        </tr>
        {% for row in step.data.iterrows() %}
        <tr>
            {% for cell in row[1] %}
            <td>{{ cell }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    {% endfor %}
</body>
</html>