<h3 class="fs-6">Dataset snapshot - numerical features</h3>
<div class="table-responsive overflow-auto mb-4" style="max-height: 400px;">
    {{ data[i].data_snapshot[0] }}
</div>
<h3 class="fs-6">Dataset snapshot - categorical features</h3>
<div class="table-responsive overflow-auto" style="max-height: 400px;">
    {{ data[i].data_snapshot[1] }}
</div>