<h3 class="fs-4">Dataset snapshot</h3>
<div class="table-responsive overflow-auto" style="max-height: 400px;">
    {{ steps[i].data.to_html(classes="table table-striped table-bordered table-hover") | safe }}
</div>